[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html
{
	position: relative;
    margin-bottom: -100px;
    padding-bottom: 100px; 
}

body
{
	font-family: 'Nunito', sans-serif;
	font-weight: 200; 
}

header
{
	padding: 40px 0;
	background: #f2f2f2;
}

.iteration-header
{
	text-align: right; 
}

.iteration
{
	color: lightgray; 
	cursor: pointer;
}

.iteration:hover
{
	color: gray;
}

.iteration-divider
{
	font-weight: 200; 
	color: lightgray; 
	padding: 0 10px; 
}

a:hover 
{
	text-decoration: none;
}

.header-active 
{
	cursor: default;
	color: black;
}

.header-active:hover {
	color: black;
	border-bottom: 0;
}

h2 
{
	margin: 0 40px; 
}

.timer 
{
	font-size: 150px;
	margin-bottom: 40px; 
	margin-top: 0; 
}

.nav 
{
	display: flex;
	background: #f2f2f2;
	font-size: 16px;
	text-transform: uppercase; 
}

.nav > li {
	flex: 1;
}

.nav > li > a
{
	padding: 20px 0;
	color: black; 
}

.nav > li.active
{
	font-weight: 600;
}

.small-nav-bar h4
{
	padding: 20px 0;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid lightgray;  
	margin: 0;
	background: #f2f2f2;
	font-weight: 200; 
	text-transform: uppercase;
}

.small-nav-bar h4:hover
{
	background: #fdfdfd; 
	cursor: pointer; 
}

.small-nav-bar .is-active
{
	background: #fff; 
	font-weight: 600; 
}

.Container
{
	/*display: flex;
	align-items: center;*/
	padding-top: 70px; 
	height: 400px; 
}

.tasks-container
{
	width: 50%;
	font-size: 24px; 
	font-weight: 400;
}

button {
	margin: 0 6px;
}

.tasks-container li
{
	padding: 10px 0;
}

.daily-standup-modal h3 
{
	font-size: 30px; 
	padding-left: 20px; 
}

.daily-standup-modal ul 
{
	font-size: 22px; 
	padding: 20px 0 20px 40px;
}

.daily-standup-modal li
{
	padding: 10px 0;
}

footer 
{
	background: #f2f2f2;
	position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}

footer p
{
	margin: 0;
	color: gray;
}

@media(max-width: 992px)
{
	header, .iteration-header
	{
		text-align: center;
	}

	header h2, iteration-header h2
	{
		font-size: 24px;
	}

	.iteration-header h2
	{
		padding-top: 30px; 
	}

	.timer
	{
		font-size: 100px;
	}

	.tasks-container
	{
		display: flex;
		justify-content: center;
		font-size: 18px;
		width: 100%;
		padding-top: 50px; 
	}
}